<div class="row m-3">
    <div class="card col-md-4 text-center m-1">
        <div class="col">
            <div class="m-3">
                <img src="assets/product.png" class="rounded-circle" width="250px" height="200px">
            </div>
            <div class="mb-3">
                <h2>Nom Prenom</h2>
                <small>Adresse, ville, 8400</small>
            </div>
            <div>
                <button type="button" class="btn btn-primary m-3"><i class="fas fa-pencil-alt"></i>&nbsp;Modifier le profil</button>
                <!-- second method to link  -->
                <!-- <a [routerLink]="['/changermotdepasse']" class="btn btn-warning">Changer le mot de passe</a> -->
                <button type="button" class="btn btn-warning" (click)="modifierMotDePasse()">
                    <i class="fas fa-lock"></i>&nbsp;Changer le mot de passe
                </button>
            </div>
        </div>
    </div>
    <div class="card col-md-7 m-1">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Nom complet</th>
                    <td>nom prenom</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>adresse&#64;email.com</td>
                </tr>
                <tr>
                    <th scope="row">telephone</th>
                    <td>011 22 33 44 55 66</td>
                </tr>
                <tr>
                    <th scope="row">Adresse</th>
                    <td>Adresse, Ville, 12345</td>
                </tr>
                <tr>
                    <th scope="row">Entreprise</th>
                    <td>Nom entreprise</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>