<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-2 custom-border-right p-1 text-center mb-1 mt-1">
        <img [src]="'assets/product.png'" width="100px" height="100px">
    </div>

    <!--  Details article-->
    <div class="col-md-6 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-2"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-10">codeArticle</div>
            </div>
            <div class="row">
                <div class="col-md-2"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-10">designation</div>
            </div>
            <div class="row">
                <div class="col-md-2"><i class="fas fa-dollar-sign blue-color"></i></div>
                <div class="col-md-10">prixUnitaireHt €</div>
            </div>
            <div class="row">
                <div class="col-md-2"><i class="fas fa-dollar-sign blue-color"></i></div>
                <div class="col-md-10">prixUnitaireTtc €</div>
            </div>
        </div>
    </div>

    <!--  details categorie-->
    <div class="col-md-2 custom-border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-2">
                <i class="fab fa-dropbox blue-color"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Stock actuel</h3>
                    </div>
                    <div class="col-md-12">
                        <h3>140</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  boutons action-->
    <div class="col-md-2 mb-1 mt-1">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-link" >
                    <i class="fab fa-stack-overflow"></i>&nbsp;Correction de stock
                </button>
            </div>
        </div>
    </div>
</div>
